# ============================
# Gradle files
.gradle/
**/build/

# Keep gradle wrapper jar
!gradle/wrapper/gradle-wrapper.jar

# Local configuration (SDK path, signing info, etc)
local.properties

# Log & OS
*.log
.DS_Store
Thumbs.db

# Android Studio/IntelliJ
.idea/
*.iml
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# Android build artifacts
*.apk
*.ap_
*.aab
*.aar
*.dex
*.class
*.hprof
output.json
captures/
.externalNativeBuild/
.cxx/

# Jetpack Compose compiler artifacts (just to be safe)
.compose-cache/
.kotlin_module/
.metadata/

# Keystore and signing
*.jks
*.keystore

# Google Services / Firebase
google-services.json
crashlytics-build.properties
com_crashlytics_export_strings.xml
fabric.properties

# NDK
obj/

# Other
*.lock